.rating-wrapper  {
    display: flex;
}

/* Small Stars */
.sm-star {
    width: 18px;
    display: inline-block;
    color: #c4c4c4;
    font-size: 18px;
}
.sm-star:last-child {
    margin-right: 0;
}
.sm-star:before {
    content:'\2605';
}
.sm-star.on {
    color: var(--star-color);
}
.sm-star.half:after {
    content:'\2605';
    color: var(--star-color);
    position: absolute;
    margin-left: -16px;
    width: 8px;
    overflow: hidden;
}

/* Medium Stars */
.md-star {
    width: 24px;
    display: inline-block;
    color: #c4c4c4;
    font-size: 24px;
}
.md-star:last-child {
    margin-right: 0;
}
.md-star:before {
    content:'\2605';
}
.md-star.on {
    color: var(--star-color);
}
.md-star.half:after {
    content:'\2605';
    color: var(--star-color);
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}

/* Large Stars */
.lg-star {
    width: 34px;
    display: inline-block;
    color: #c4c4c4;
    font-size: 34px;
}
.lg-star:last-child {
    margin-right: 0;
}
.lg-star:before {
    content:'\2605';
}
.lg-star.on {
    color: var(--star-color);
}
.lg-star.half:after {
    content:'\2605';
    color: var(--star-color);
    position: absolute;
    margin-left: -29px;
    width: 15px;
    overflow: hidden;
}